!!! 5
html
  head
    title Hello
    meta(charset='utf-8')
    link(rel='stylesheet', href='/lib/normalize.css')
    link(rel='stylesheet', href='/main.css')
    script(type='text/javascript', src='/jsjac.js')
  body
    #container hello
