!!! 5
html(xmlns:fb="https://www.facebook.com/2008/fbml")
  head
    title Hello
    meta(charset='utf-8')
    link(rel='stylesheet', href='/lib/normalize.css')
    link(rel='stylesheet', href='/main.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
    script(type='text/javascript', src='/lib/strophe.js')
    script(type='text/javascript', src='/lib/facebook.js')
    script(type='text/javascript', src='/im.js')
  body
    #container
      button#fb-auth.hidden Login with Facebook
      button#fb-logout.hidden Logout
      #user-info.hidden
    #fb-root
    script
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol 
          + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
